body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: White;
}

h1{
    color: azure;
    font-weight: bold;
}

h2{
    text-align: center;
}

h4{
    text-align: justify;
}

nav a{
    text-decoration: none;
    color: azure;
    font-weight: bold;
    margin: 0 10px;
}

nav a:hover{
    color: coral;
}

table{
    text-align: center;
    padding: 20px;
    margin-bottom: 50px;
}

section{
    background-color: #330A1F;
    padding: 20px;
    margin-bottom: 50px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    color: whitesmoke;
    text-align: justify;
}

form{
    width: 400px;
    margin: 10vh auto;
    background: #330A1F;
    padding: 20px;
    height: 20vh;
}

form input
form textarea{
    border: none;
    outline: none;
    border-bottom: 2px solid #AAA;
}

footer{
    background-color: #330A1F;
    padding: 20px;
    border-radius: 12px;
    color: whitesmoke;
    text-align: center;
}
